@model Category



<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Category</h4>
                <p class="card-description">
                    Basic form elements
                </p>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1" method="post">Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                        <span asp-validation-for="Name" style="color:darkred"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>
